/* General Styling  */

* {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	line-height: 1.5;
    font-size: 2rem;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Site Navbar  */

.header, .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.name {
	margin: 0;
	font-size: 4rem;
}

.navbar {
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 48px;
	text-align: center;
}

/* Developer Portrait */

.portrait {
    max-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
}



/* About Me section  */

#about-me {
    background-color: red;
    margin-top: 16px;
    padding: 50px;
}

/* Work section */

#work {
    background-color: yellow;
    margin-top: 16px;
    padding: 40px 40px;
}

/* Image gallery  */

.projectImages {
    display: flex;
    flex-direction: row;   

}

.project-link {
    display: block;
}

.wrap {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.wrap a {
    color: #fff;
}

.child {
    flex-grow: 1;
    /* background-image: url("https://i.pinimg.com/originals/31/5e/d9/315ed9d150145464eef17f33076352f2.jpg"); */
    height: 100px;
    background-size: cover;
    display: block;
}

.one {
    background-image: url(../assets/tbgreen.jpg);
    opacity: 75%;
}

.two {
    background-image: url(../assets/tbpurple.jpg);
    opacity: 75%;
}

.link-image {
    background-image: url(../assets/horiseonSite.png);
    background-size: cover;
    height: 500px;
    opacity: 75%;
    width: 100%;
    display: block;
}

/* Contact Info/footer Section  */

#contact-info {
    background-color: blue;
    margin-top: 16px;
    padding: 40px 40px;
}

.contact-info a {
    color: white;
}

.contact-info li {
    padding: 50px
}

.contact-info {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

/* Responsive Media Queries  */

@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
    }
    .main-nav li {
        margin: 50px 0;
    }
    .header {
        flex-direction: column;
    }
    #contact-info{
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
    }
    body {
        text-align: center;
    }
    .child {
        flex-direction: column;
        width: 100%;
    }
}

