/* CSS Variables/Color Palette  */

:root {
    --darkest: #303841;
    --dark: #3a4750; 
    --light: #eeeeee;
    --link: #d72323;
}

/* General Styling  */

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
    font-size: 1.5rem;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Site Navbar  */

.header, .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
	font-size: 4rem;
}

.logo a,
.main-nav a {
	padding: 48px;
	text-align: center;
    color: var(--darkest);
}

/* Developer Portrait */

.portrait {
    max-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
}

/* About Me section  */

#about-me {
    background-color: var(--light);
    margin-top: 16px;
    padding: 50px;
}

/* Work section */

#work {
    background-color: var(--light);
    margin-top: 16px;
    padding: 40px 40px;
}

/* Image gallery  */

.projectImages {
    display: flex;
    flex-direction: row;   
}

.project-link {
    display: block;
}

.wrap {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.wrap a {
    color: var(--light);
}

.child {
    flex-grow: 1;
    height: 100px;
    background-size: cover;
    display: block;
    margin: 0 12px;
    border: 4px solid var(--darkest);
}

.child:hover {
    opacity: 1;
    transition: all 1000ms ease;
}

.one {
    background-image: url(../assets/tbgreen.jpg);
    opacity: 75%;
}

.two {
    background-image: url(../assets/tbpurple.jpg);
    opacity: 75%;
}

.link-image {
    background-image: url(../assets/horiseonSite.png);
    background-size: cover;
    height: 500px;
    opacity: 75%;
    width: 100%;
    display: block;
    margin-bottom: 40px;
    border: 4px solid var(--darkest);
}

.link-image:hover {
    opacity: 1;
    transition: all 1000ms ease;
}

/* Contact Info/footer Section  */

#contact-info {
    background-color: var(--light);
    margin-top: 16px;
    padding: 40px 40px;
}

.contact-info a {
    color: var(--link);
}

.contact-info li {
    padding: 50px
}

.contact-info {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

/* Responsive Media Queries  */

@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
    }
    .main-nav li {
        margin: 50px 0;
    }
    .header {
        flex-direction: column;
    }
    #contact-info{
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
    }
    body {
        text-align: center;
    }
    .child {
        flex-direction: column;
        width: 100%;
    }
    .child {
        margin: 16px 0;
    }
}

